
        body {
            background-color: #000000;
             color:white;
        }

        .resume-card {
            background: rgb(0, 0, 0);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0px 5px 15px rgb(146, 235, 88);
             color:white;
        }

        .section-title {
            border-bottom: 2px solid #29fd0d;
            margin-bottom: 15px;
            padding-bottom: 5px;
            font-weight: bold;
            color:white;
        }

        .profile-img {
            width: 150px;
            border-radius: 50%;
             color:white;
        }

        .skill-badge {
            margin: 5px 5px 5px 0;
             color:white;
        }
        .text-muted{
             color:white;
        }
